<div>
  <h2>Affiliated Faculty, Staff and Students</h2>
  <ul>
    <li><strong>Paul Wolfgang</strong><p>(Faculty Advisor), Paul Wolfgang is a faculty advisor for the Pennsylvania Policy Database Project and an Instructor in the department of computer and information sciences at Temple University. He is the principal constructor of the project's website tools.</p></li>
  </ul>
  <h3>Current Student Researchers</h3>
    <ul>
     <li><strong>Steven Doncaster</strong><p>Steven Doncaster of Bensalem, Pennsylvania, is a Political Science and Economics major in the College of Liberal Arts at Temple University. Steven joined the policy database project during the first semester of his junior year. After graduation, Steven hopes to work on political campaigns and work in the non-profit sector before attending law school</p></li>
     <li><strong>Brandon Pena</strong><p>Brandon Pena, of Hatboro, Pennsylvania, is a Mathematical Economics in the College of Liberal Arts at Temple University. After graduation, Brandon would like to pursue a career in quantitative research either for the government, or in the financial sector.</p></li>
     <li><strong>Conor Freeley</strong><p>Conor Freeley of Boston, Massachusetts, is a Sophomore Global Security and Political Science major in the college of Liberal Arts at Temple University. Conor joined the project his second semester of his Freshman year. After graduation, Conor hopes to work on capitol hill, and eventually pursue elected office.</p></li>
  </ul>
 <h3>Past Graduate Researchers</h3>
 <ul>
   <li>
     <a href="http://sites.temple.edu/jayjennings/" title="Jay Jennings">Jay Jennings</a>
     <p>Jay Jennings is the former Assistant Program Director at the Institute for Public Affairs and the former project manager for the Pennsylvania Policy Database Project. He is also an affiliated researcher at Temple University's <a href="https://sites.temple.edu/foundlab/">Behavioral Foundations Lab</a>. In May 2015 he completed his PhD in political science at Temple University after receiving his MA in political science from American University in 2004. His interests lie in political psychology, civic engagement, electoral behavior, religion and politics, and public policy. He is a resident of Philadelphia, but was born and raised in Central, South Carolina.</p>
   </li>
   <li>
     <strong>Ping Zhang</strong>
     <p>Ping Zhang was a graduate research assistant for the Pennsylvania Policy Database Project. He is from China. He obtained his Bachelor's (2004) and Master's (2007) degrees in Computer Science from Huazhong University of Science & Technology. He received a PhD in Computer and Information Science at Temple University . His interests lie in data mining, machine learning and their applications in various fields.</p>
   </li>
   <li><strong>Justin Gollob</strong>
     <p>Justin Gollob is the former project coordinator for the Pennsylvania Policy Database Project. Justin completed his PhD in political science at Temple University in the fall of 2007 and is currently a professor at Mesa State College. His research interests include legislative politics, state and local government, representation, and public policy. He recieved his MA in political science from Temple University in 2002 and his bachelor's degree from Idaho State University in 1999. Gollob was previously the internship coordinator for the department of political science and an adjunct professor. He grew up in Pocatello, Idaho.</p>
   </li>
   <li>
     <strong>Dan Lehman</strong>
     <p>Dan Lehman is the former graduate research manager for the Pennsylvania Policy Database project. He recently completed his dissertation on the role of political parties and interest groups in the mobilization of Latino voters. His current research interests includes parties and interest groups, race and ethnic politics, and American public policy. He graduated with BA degrees in political science and American studies from Temple University in May 2002, a MA from Temple in 2006, and a PhD from Temple in 2013. He grew up in Lebanon, PA.</p>
   </li>
   <li><strong>J. Wesley Leckrone</strong>
     <p>J. Wesley Leckrone is Associate Professor of Government and Politics at Widener University. He is the former project coordinator of the Pennsylvania Policy Database Project and is currently on the project’s University Advisory Committee. He earned his PhD in the spring of 2006 from Temple University in the department of political science. He received an MA in history from Temple in 1995 and a BA in political science from American University in 1991. He previously served as the program director at the Center for the Study of Federalism at Temple University. His publications include articles in Publius: The Journal of Federalism, State Politics and Policy Quarterly, State and Local Government Review, and the Journal of Urban Affairs. He grew up in Harrisburg, Pennsylvania.</p>
   </li>
 </ul>
</div>
